* {
  font-family: 'Arial', sans-serif;
}

.calculator {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.result {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  color: #4caf50;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.button-group button,
.reset-group button {
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}

.button-group button:hover,
.reset-group button:hover {
  background-color: #e0e0e0;
}

.reset-group button:nth-child(1),
.reset-group button:nth-child(2) {
  background-color: darkgrey;
  color: #fff;
  border: none;
}

.reset-group button:nth-child(1):hover,
.reset-group button:nth-child(2):hover {
  background-color: lightgrey;
}
